<header class="bg-white" >
   <nav class= "flex items-center h-[100px] pt-[17px] pb-[13px] pl-[103px] max-lg:px-5   max-lg:justify-center">
    <a routerLink="">
      <div class="w-[145px] h-[90]">
        <img src = "../../assets/Image/Logo.png" class="object-cover">
      </div>
    </a>
    <div class="right-0 text-black-1 w-full flex justify-end max-lg:hidden ">
      <div class="menu" (click)="smoothScrollTo('Home')">หน้าหลัก</div>
      <div class="menu" (click)="smoothScrollTo('Purpose')">เป้าหมายขององค์กร</div>
      <div class="menu" (click)="smoothScrollTo('Standard')">มาตรฐานของเรา</div>
      <div class="menu" (click)="smoothScrollTo('Customer')">ลูกค้าของเรา</div>
      <div class="menu" (click)="smoothScrollTo('Comment')">Comment</div>
      <div class="menu" (click)="smoothScrollTo('Contact')">Contact us</div>
    </div>
   </nav>
</header>





