
.pagination::ng-deep .ngx-pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.pagination::ng-deep .ngx-pagination .current{
    background:     #00478A;
    color: white;
}

.pagination::ng-deep .ngx-pagination li{
    width: 35px;
    height: 35px;
    border-radius: 8px;
    background: white;
    color: #333333;
    display: flex !important;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 16px ;
}

.pagination::ng-deep .ngx-pagination .small-screen{
    display: none !important;
}
.pagination::ng-deep .ngx-pagination .pagination-previous a::before  
, .pagination::ng-deep .ngx-pagination .pagination-previous.disabled::before
,.pagination::ng-deep .ngx-pagination .pagination-next::before{
    display: none !important;

}
.pagination::ng-deep .ngx-pagination .pagination-next a::after 
, .pagination::ng-deep .ngx-pagination .pagination-next.disabled::after
,.pagination::ng-deep .ngx-pagination .pagination-next::after{
    display: none !important;

}


.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin: 0;
  padding: 0;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 34px;
  transition: background-color 0.2s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.2s;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #57B2D6;
}

input:focus + .slider {
  box-shadow: 0 0 1px #57B2D6;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}



@media only screen and (max-width: 768px) {
    .pagination::ng-deep .ngx-pagination li{
        width: 25px;
        height: 25px;
        border-radius: 2px;
        color: #333333;
        font-size: 12px ;
    }


    
}
