<div class=" flex w-full py-6 justify-center lg:h-[159px] ">
  <form #myForm="ngForm" (ngSubmit)="updateForm()" class="flex justify-center content-center w-full max-lg:flex-col max-lg:px-[16px]">
    <!-- Drag and drop -->
    <div class="w-1/4  justify-end flex px-1 max-lg:w-full max-lg:justify-center max-lg:pb-3 ">
      <ngx-dropzone class="flex flex-col justify-center text-center w-[251px] h-[112px!important] items-center border-dashed border-2 border-grey-2 rounded-lg" ngx-dropzone [accept]="'image/*'" (change)="onSelect($event,0)" [multiple]="false">
        <ngx-dropzone-label>
        <div>
          <i class="fa-solid fa-arrow-up-from-bracket fa-xl" style="color: #a61f23;"></i>
        </div>
        <div class="mt-5 max-mก:text-sm text-black">
          Drag & Drop
        </div>
      </ngx-dropzone-label>
      <div *ngFor="let f of showPrev">
        <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" [file]="f" [removable]="true" (removed)="onRemove(f,0)" *ngIf="f == showPrev[0]">
          <ngx-dropzone-label >{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
        </ngx-dropzone-image-preview>
      </div>
      </ngx-dropzone>
    </div>
      <div class="flex flex-col h-full w-1/4 pl-[18px] text-[16px] pr-[12px] lg:space-y-[4px] max-lg:w-full max-lg:justify-center max-lg:px-0 ">
        <div class=" max-lg:h-[50px] max-lg:mt-[8px]">
          <input type="text" name="title" placeholder="Name" class="w-full rounded-lg h-[52px] bg-white-2 pl-3" [(ngModel)]="data.name">
        </div>
        <div class=" lg:py-1 max-lg:h-[50px] max-lg:mt-[8px] ">
          <input type="text" name="brandManager" placeholder="brand manager" class="w-full rounded-lg h-[52px] bg-white-2 pl-3" [(ngModel)]="data.brandManager">
        </div>
      </div>

      <div class="flex flex-col  w-1/4  text-[16px] max-lg:w-full max-lg:mt-[8px] ">
        <input type="text" placeholder="comment" name="comment" class="w-full rounded-lg h-[112px] bg-white-2 pl-3" required [(ngModel)]="data.comment">
      </div>

      <div class="flex h-full text-[16px] justify-start items-end w-1/4 py-1 px-[18px] max-lg:w-full max-lg:justify-center max-lg:mt-[8px] max-lg:px-0 max-lg:py-0 ">
        <button class="bg-blue-1 rounded-lg text-white  w-[157px] h-[52px] max-lg:w-full">submit</button>
      </div>

  </form>
</div>
