<div class="max-h-[200px] flex w-full py-6 justify-center">
  <div class="flex justify-center content-center w-full">
    <div class="w-1/4 justify-end flex px-1">
      <div class="py-9 flex flex-col justify-center text-center w-1/2 items-center border-dashed border-2 border-[#6F6F6F] rounded-md">
        <i class="fa-solid fa-arrow-up-from-bracket fa-xl" style="color: #a61f23;"></i>
        <div class="mt-5">
          Drag & Drop
        </div>
      </div>
    </div>

    <div class="flex flex-col h-full w-1/4 px-1">
      <div class="h-1/2 py-1">
        <input type="text" placeholder="Name" class="w-full rounded-md h-full bg-[#F6F6F6] pl-3">
      </div>
      <div class="h-1/2 py-1">
        <input type="text" placeholder="brand manager" class="w-full rounded-md h-full bg-[#F6F6F6] pl-3">
      </div>
    </div>

    <div class="flex flex-col h-full w-1/4 py-1 px-1">
      <input type="text" placeholder="comment" class="w-full rounded-md h-full bg-[#F6F6F6] pl-3">
    </div>

    <div class="flex h-full justify-start items-end w-1/4 py-1 px-1">
      <button class="bg-black rounded-md text-white p-3 w-1/2">submit</button>
    </div>
  </div>
</div>
