<div class="min-h-[409px] bg-red-1 flex justify-center items-center px-11 text-white max-sm:flex-col max-sm:pb-3">
  <!-- About company -->
  <div class="w-1/3 flex flex-col max-sm:w-full max-sm:py-[15px]">
    <!-- Location -->
    <div class="flex flex-col w-full">
      <p class="py-2">บริษัท รักษาความปลอดภัยเคพีเอ็น แอนด์ เซอร์วิส จำกัด</p>
      <p class="py-2">เลขที่ 91/1,92,2 หมู่ที่ 3</p>
      <p class="py-2">ตำบลไทรน้อย อำเภอไทรน้อย นนทบุรี 11150</p>
      <p class="py-2">02-503-4499 ต่อ 401-409</p>
    </div>
    <!-- Social media -->
    <div class="flex flex-col mt-3">
      <div class="flex">
        <!-- Icon -->
        <div class="mr-2">
          <i class="fas fa-search"></i>
        </div>
        <!-- Text -->
        <div>
          <p>Facebook</p>
        </div>
      </div>

      <div class="flex">
        <!-- Icon -->
        <div class="mr-2">
          <i class="fas fa-search"></i>
        </div>
        <!-- Text -->
        <div>
          <p>Line</p>
        </div>
      </div>
    </div>
  </div>
  <!-- Input part -->
  <div class="h-2/3 flex flex-col w-full px-4" >
    <!-- Header contact -->
    <div class="h-1/3 w-full flex">
      <div class="w-1/2 flex justify-center max-sm:hidden">

      </div>
      <div class="w-1/2 flex justify-center mb-3 max-sm:w-full max-sm:justify-start ">
        <h1 class="text-[32px] max-md:text-[20px] max-sm:text-[16px]">CONTACT US</h1>
      </div>
    </div>
    <!-- information input -->
    <div class="h-2/3 flex flex-row max-sm:flex-col">
      <!-- Name and email -->
      <div class="w-1/2 flex flex-col px-1 text-black max-sm:w-full max-sm:pl-0">
        <input type="text" placeholder="Name" class="w-full rounded-md h-[52px] my-1 bg-[#F6F6F6] pl-3 max-sm:h-[30px] ">
        <input type="text" placeholder="Email" class="w-full rounded-md h-[52px] my-1 bg-[#F6F6F6] pl-3 max-sm:h-[30px]">
      </div>
      <!-- Phone and Comment abd submit -->
      <div class="w-1/2 flex flex-col px-1 text-black max-sm:w-full max-sm:pl-0">
        <input type="text" placeholder="Telephone" class="w-full rounded-md h-[52px] my-1 bg-[#F6F6F6] pl-3 max-sm:h-[30px]">
        <input type="text" placeholder="Comment" class="w-full rounded-md h-[102px] my-1 bg-[#F6F6F6] pl-3 max-sm:h-[50px]">
        <div class="flex w-full justify-center">
          <button class="bg-black rounded-md text-white p-3 w-1/3 max-sm:w-full ">submit</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Ending -->

<div class="h-[109px] bg-white w-full flex justify-center items-end pb-3 opacity-70">
  <p class="text-black">Copyright © 2022 | kpn.newdice.co</p>
</div>
