<header class="bg-blue-3" >
    <nav class= "flex justify-between items-center h-20 pt-[17px] pb-[13px] pl-[103px]  max-lg:px-5 max-lg:justify-center">
      <a routerLink="/">
         <!-- <div class="text-white text-center " >
             <h2 class="text-2xl max-lg:text-lg">WEB SITE</h2>
             <h5 class="text-base max-lg:text-sm">GUARDIAN</h5>
         </div> -->
         <div class="w-[103px] h-[72px]">
          <img src = "../../assets/Image/Logo2.png" class="object-scale-down">
        </div>
      </a>
    </nav>
 </header>
