<app-header-user></app-header-user>



<div class=" py-[40px] px-[103px]">
    <div class="bg-white px-[46px] pt-[16px] pb-[50px] rounded-[20px] w-full shadow-[0_4px_4px_rgba(0,0,0,0.25)]">
        <div class="text-[1.2vw]">
          PROFILE
        </div>
        <form>
          <!-- Title Input -->
            <div class=" pt-[18px]">
                <label  class="text-[0.9vw] leading-6 text-grey-5">Title</label>
                <div class="pt-[8px]">
                    <input  name="username" type="text"  required
                    class="w-1/2 h-[51px] rounded-md px-[20px] border-2 border-[#707070]">
                </div>
            </div>
            <!-- Description Input -->
            <div class=" pt-[18px]">
                <label  class="text-[0.9vw] leading-6 text-grey-5">Description</label>
                <div class="pt-[8px] w-3/4">
                    <!-- Tool bar -->
                    <div class="border-[#707070] rounded-t-md border-2 border-b-0 w-full h-[35px] flex flex-row items-center">
                      <!-- font -->
                      <div class="flex h-full items-center border-r-2 p-2 border-[#707070] justify-center">
                        <!-- label -->
                        <div class="text-[1vw]">
                          font
                        </div>
                        <!-- down button -->
                        <div class="ml-7">
                          <i class="fa-solid fa-caret-down"></i>
                        </div>
                      </div>
                      <!-- normal -->
                      <div class="flex h-full items-center border-r-2 p-2 border-[#707070] justify-center">
                        <!-- label -->
                        <div class="text-[1vw]">
                          normal
                        </div>
                        <!-- down button -->
                        <div class="ml-7">
                          <i class="fa-solid fa-caret-down"></i>
                        </div>
                      </div>
                      <!-- size -->
                      <div class="flex h-full items-center border-r-2 p-2 border-[#707070] justify-center">
                        <!-- label -->
                        <div class="text-[1vw]">
                          size
                        </div>
                        <!-- down button -->
                        <div class="ml-7">
                          <i class="fa-solid fa-caret-down"></i>
                        </div>
                      </div>
                      <!-- undo -->
                      <div class="flex h-full items-center border-r-2 p-2 border-[#707070] justify-center">
                        <!-- label -->
                        <div class="flex items-center">
                          <i class="fa-solid fa-arrow-left mr-1" style="font-size: 1vw;"></i>
                          <i class="fa-solid fa-arrow-left ml-1 fa-rotate-180" style="font-size: 1vw;"></i>
                        </div>
                      </div>
                      <!-- font SM -->
                      <div class="flex h-full items-center border-r-2 p-2 border-[#707070] justify-center">
                        <!-- label -->
                        <div class="text-[1vw]">
                          Aa
                        </div>
                      </div>
                      <!-- font style -->
                      <div class="flex h-full items-center border-r-2 p-2 min-w-[120px] border-[#707070] justify-center">
                        <!-- label -->
                        <div>
                          <i class="fa-sharp fa-solid fa-bold mr-3" style="font-size: 1vw;"></i>
                          <i class="fas fa-italic mr-3" style="font-size: 1vw;"></i>
                          <i class="fa-solid fa-underline mr-3" style="font-size: 1vw;"></i>
                          <i class="fa-solid fa-strikethrough" style="font-size: 1vw;"></i>
                        </div>
                      </div>
                      <!-- Aling text -->
                      <div class="flex h-full items-center p-2 border-[#707070] justify-center ">
                        <!-- label -->
                        <div class="flex flex-wrap">
                          <i class="fa-solid fa-align-left mr-3 " style="font-size: 1vw;"></i>
                          <i class="fa-solid fa-align-center mr-3 " style="font-size: 1vw;"></i>
                          <i class="fa-solid fa-align-right mr-3 " style="font-size: 1vw;"></i>
                          <i class="fa-solid fa-align-justify " style="font-size: 1vw;"></i>
                        </div>
                      </div>
                    </div>
                    <!-- Text -->
                    <input  name="username" type="text"  required
                    class="w-full h-[91px] rounded-b-md px-[20px] border-2 border-[#707070] justify-center">
                </div>
            </div>

            <!-- Image Layout -->
            <div class="flex justify-center px-12 min-h-[805px] py-12">

              <div class="flex flex-col w-full">
                  <!-- Upper side  -->
                  <div class="w-full flex flex-row h-2/3 pb-7">
                    <!-- Left side -->
                    <div class="flex flex-col h-full w-1/2 pr-2">
                        <div class="subject">

                        </div>

                        <div class=" text-[1.4vw] font-light text-grey-2 w-full">

                        </div>

                      <div class="flex justify-end w-full h-full items-end content-end">
                        <div class="border-dashed border-2 border-[#6F6F6F] rounded-md w-1/2 h-1/2  flex flex-col text-center items-center justify-center">
                          <!-- <img src = "https://cdn-icons-png.flaticon.com/512/8017/8017414.png" class="h-[36px] w-[37px]"> -->
                          <div>
                            <i class="fa-solid fa-arrow-up-from-bracket fa-2xl" style="color: #a61f23;"></i>
                          </div>
                          <div class="mt-1">
                            Drag & Drop
                          </div>
                        </div>
                      </div>

                    </div>

                    <!-- Right side -->
                    <div class="flex flex-row h-full w-1/2">
                      <!-- Long img -->
                      <div class="h-full w-1/2 pr-2">
                        <div class="border-dashed border-2 border-[#6F6F6F] rounded-md w-full h-full flex flex-col text-center items-center justify-center">
                          <!-- <img src = "https://cdn-icons-png.flaticon.com/512/8017/8017414.png" class="h-[36px] w-[37px]"> -->
                          <div>
                            <i class="fa-solid fa-arrow-up-from-bracket fa-2xl" style="color: #a61f23;"></i>
                          </div>
                          <div class="mt-1">
                            Drag & Drop
                          </div>
                        </div>
                      </div>
                      <!--  2 each -->
                      <div class="h-full w-1/2 flex flex-col">
                        <div class="h-1/2 pb-1">
                          <div class="border-dashed border-2 border-[#6F6F6F] rounded-md w-full h-full flex flex-col text-center items-center justify-center">
                            <!-- <img src = "https://cdn-icons-png.flaticon.com/512/8017/8017414.png" class="h-[36px] w-[37px]"> -->
                            <div>
                              <i class="fa-solid fa-arrow-up-from-bracket fa-2xl" style="color: #a61f23;"></i>
                            </div>
                            <div class="mt-1">
                              Drag & Drop
                            </div>
                          </div>
                        </div>
                        <div class="h-1/2 pt-1">
                          <div class="border-dashed border-2 border-[#6F6F6F] rounded-md w-full h-full flex flex-col text-center items-center justify-center">
                            <!-- <img src = "https://cdn-icons-png.flaticon.com/512/8017/8017414.png" class="h-[36px] w-[37px]"> -->
                            <div>
                              <i class="fa-solid fa-arrow-up-from-bracket fa-2xl" style="color: #a61f23;"></i>
                            </div>
                            <div class="mt-1">
                              Drag & Drop
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- Down side -->
                  <div class="flex flex-row h-1/3 w-full">
                    <!-- Left side -->
                    <div class="w-1/2 flex h-full pr-2">
                      <div class="border-dashed border-2 border-[#6F6F6F] rounded-md w-1/2 h-full mr-2 flex flex-col text-center items-center justify-center">
                        <!-- <img src = "https://cdn-icons-png.flaticon.com/512/8017/8017414.png" class="h-[36px] w-[37px]"> -->
                        <div>
                          <i class="fa-solid fa-arrow-up-from-bracket fa-2xl" style="color: #a61f23;"></i>
                        </div>
                        <div class="mt-1">
                          Drag & Drop
                        </div>
                      </div>
                      <div class="border-dashed border-2 border-[#6F6F6F] rounded-md w-1/2 h-full flex flex-col text-center items-center justify-center">
                        <!-- <img src = "https://cdn-icons-png.flaticon.com/512/8017/8017414.png" class="h-[36px] w-[37px]"> -->
                        <div>
                          <i class="fa-solid fa-arrow-up-from-bracket fa-2xl" style="color: #a61f23;"></i>
                        </div>
                        <div class="mt-1">
                          Drag & Drop
                        </div>
                      </div>
                    </div>
                    <!-- right side -->
                    <div class="w-1/2 h-full">
                      <div class="border-dashed border-2 border-[#6F6F6F] rounded-md w-full h-full flex flex-col text-center items-center justify-center">
                        <!-- <img src = "https://cdn-icons-png.flaticon.com/512/8017/8017414.png" class="h-[36px] w-[37px]"> -->
                        <div>
                          <i class="fa-solid fa-arrow-up-from-bracket fa-2xl" style="color: #a61f23;"></i>
                        </div>
                        <div class="mt-1">
                          Drag & Drop
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
            </div>

            <!-- Button Back & Save -->
            <div class="pt-[25px] flex items-center space-x-[18px] ">
                <a routerLink="../">
                    <div class= " bg-white h-[50px] w-[166px] border-2 border-red-1 rounded-md text-red-1 text-lg  flex items-center justify-center cursor-pointer ">
                        <i class="ri-arrow-left-circle-line"></i>BACK
                    </div>
                </a>
                <button class="bg-red-1 h-[50px] w-[166px]  rounded-md text-white text-lg">SAVE</button>
            </div>
        </form>
    </div>
</div>
