<app-header-user></app-header-user>
<div class=" py-[40px] px-[103px]  max-lg:px-6">
    <div class="bg-white px-[46px] pt-[16px] pb-[50px] rounded-[20px] w-full shadow-[0_4px_4px_rgba(0,0,0,0.25)] max-lg:px-[24px]">
        <div class="text-[26px] max-lg:text-[18px] max-sm:text-[14px]">
            Profile
        </div>
        <form #myForm="ngForm" (ngSubmit)="updateForm()">
          <!-- Title Input -->
            <div class=" pt-[18px]">
                <label  class="text-[16px] leading-6 text-grey-5 max-lg:text-[14px]">Title</label>
                <div class="pt-[8px]">
                    <input  name="title" type="text"
                    class="w-1/2 h-[51px] rounded-lg px-[20px] border-2 border-[#707070] " required minlength="4" [(ngModel)]="heroes[0].title">
                </div>
            </div>
            <!-- Description Input -->
            <div class=" pt-[18px]">
                <label  class="text-[16px] leading-6 text-grey-5 max-lg:text-[14px]">Description</label>
                <div class="pt-[8px] w-3/4  max-lg:w-full">
                    <!-- Tool bar -->
                    <div class="border-[#707070] rounded-t-lg border-2 border-b-0 w-full h-[35px] flex flex-row items-center">

                      <!-- font style -->
                      <div class="flex h-full items-center border-r-2 p-2 min-w-[120px] border-[#707070] justify-center max-lg:hidden">
                        <!-- label -->
                        <div>
                          <i class="fa-sharp fa-solid fa-bold mr-3 cursor-pointer" style="font-size: 1vw;" (click)="Bold()"></i>
                          <i class="fas fa-italic mr-3 cursor-pointer" style="font-size: 1vw;" (click)="Italic()"></i>
                          <i class="fa-solid fa-underline mr-3 cursor-pointer" style="font-size: 1vw;" (click)="Underline()"></i>
                          <i class="fa-solid fa-strikethrough cursor-pointer" style="font-size: 1vw;" (click)="Strike()"></i>
                        </div>
                      </div>

                    </div>
                    <!-- Text -->
                    <textarea  name="descript" type="text" #myTextarea
                    class="w-full h-[130px] rounded-b-lg px-[20px] border-2 border-[#707070] justify-center p-5" [(ngModel)]="heroes[0].descript"></textarea>
                </div>
            </div>

            <!-- Image Layout -->
            <div class="flex flex-col">
              <div class="flex mt-[25px]">
                <button class="bg-blue-1 h-[50px] w-[166px]  rounded-lg text-white text-lg max-lg:h-[40px] mr-4 overflow-hidden relative z-10" type="button">Upload<input type="file" class="opacity-0 cursor-pointer absolute top-0 left-0 scale-105 h-full z-0 bg-red-50" (change)="onSelectNew($event)"/></button>
                <!-- <button class="bg-red-400 h-[50px] w-[166px]  rounded-lg text-white text-lg max-lg:h-[40px] mr-4 overflow-hidden relative z-10" type="button">Upload (Video)<input type="file" class="opacity-0 cursor-pointer absolute top-0 left-0 scale-105 h-full z-0 bg-red-50"/></button> -->
              </div>
              <p class="mt-2">ไฟล์ .png  video ที่ผ่านการรับรอง (ขนาดไฟล์ต้องไม่เกิน 5 mb)</p>
              <div *ngFor="let i of imgNames" class="mt-[12px]">
                <p class="text-sm">{{ i }}</p>
              </div>
          </div>
             <!-- Button Back & Save -->
             <div class="pt-[25px] flex items-center space-x-[18px] pr-2 mt-[35px]">
              <button class="bg-white h-[50px] w-[166px]  text-blue-1 rounded-lg  border-2 border-blue-1 text-lg max-lg:h-[40px]" routerLink="../"><i class="ri-arrow-left-circle-line"></i>BACK</button>
              <button class="bg-blue-1 h-[50px] w-[166px]  rounded-lg text-white text-lg max-lg:h-[40px]">SAVE</button>
          </div>
        </form>
    </div>
</div>
