<div class="px-[103px] py-[101px] flex justify-start ">
    <div class="w-[836px] h-[404px] shadow-[0_4px_4px_rgba(0,0,0,0.25)] rounded-[20px] px-[46px] py-[16px] ">
        <div class=" text-[26px] ">
            MENU
        </div>
        <div class="grid grid-rows-4 gap-y-[10px] mt-[15px]">
            <div class="w-fullh-[51px] border-2 border-grey-4  rounded-[10px] py-[12px] px-[40px] text-grey-5 text-[18px]">
                PROFILE
            </div>
            <div class="w-fullh-[51px]  py-[12px] px-[40px] text-grey-5 text-[18px]">
                ORGANIZATION GOALS
            </div>
            <div class="w-fullh-[51px]  py-[12px] px-[40px] text-grey-5 text-[18px]">
                OUR STANDARD
            </div>
            <div class="w-fullh-[51px]  py-[12px] px-[40px] text-grey-5 text-[18px]">
                USERS
            </div>
        </div>

    </div>
</div>
