<app-header-user></app-header-user>
<div class="px-[103px] py-[101px] flex justify-start max-md:px-[20px] max-md:py-[50px] max-md:justify-center  max-sm:px-[10px] ">
    <div class="w-[836px] h-[404px] shadow-[0_4px_4px_rgba(0,0,0,0.25)] rounded-[20px] px-[46px] py-[16px] max-md:px-5 max-sm:px-[8px]">
        <div class=" text-[26px] text-blue-3 font-medium max-md:text-[18px] ">
            MENU
        </div>
        <div class="grid grid-rows-4 gap-y-[20px] mt-[15px]">
            <div class="flex items-center">
                <div class="flex items-center w-full h-[51px] border-[1px] border-[#707070]  rounded-[10px] py-[12px] px-[40px] text-[#626262] text-[18px] max-md:text-[14px] max-sm:px-0  max-sm:justify-center  max-md:h-[40px]">
                    PROFILE
                </div>
                <a routerLink="profile">
                    <mat-icon class="ml-[22px] mr-[14px]  max-md:text-[15px] max-sm:mr-[10px] max-sm:ml-[10px]">edit</mat-icon>
                </a>
                <a routerLink="profile">
                    <mat-icon  class="max-md:text-[15px]" class="max-md:text-[15px]">settings</mat-icon>
                </a>

            </div>
            <div class="flex items-center">
                <div class="flex items-center w-full h-[51px] bg-[#F0F0F0] rounded-[10px] py-[12px] px-[40px] text-[#626262]  text-[18px] max-md:text-[14px]  max-md:h-[40px] max-sm:px-0  max-sm:justify-center">
                    ORGANIZATION GOALS
                </div>
                 <a routerLink="organization">
                    <mat-icon class="ml-[22px] mr-[14px] max-md:text-[15px] max-sm:mr-[10px] max-sm:ml-[10px]">edit</mat-icon>
                </a>
                <a routerLink="organization">
                    <mat-icon  class="max-md:text-[15px]">settings</mat-icon>
                </a>
            </div>
            <div class="flex items-center">
                <div class="flex items-center w-full h-[51px] bg-[#F0F0F0] rounded-[10px] py-[12px] px-[40px] text-[#626262]  text-[18px] max-md:text-[14px]  max-md:h-[40px] max-sm:px-0  max-sm:justify-center">
                    OUR STANDARD
                </div>
                 <a routerLink="ourstandard">
                    <mat-icon class="ml-[22px] mr-[14px] max-md:text-[15px] max-sm:mr-[10px] max-sm:ml-[10px]">edit</mat-icon>
                </a>
                <a routerLink="ourstandard">
                    <mat-icon  class="max-md:text-[15px]">settings</mat-icon>
                </a>
            </div>
            <div class="flex items-center">
                <div class="flex items-center w-full h-[51px] bg-[#F0F0F0] rounded-[10px] py-[12px] px-[40px] text-[#626262]  text-[18px] max-md:text-[14px]  max-md:h-[40px] max-sm:px-0  max-sm:justify-center">
                    USERS
                </div>
                 <a routerLink="user">
                    <mat-icon class="ml-[22px] mr-[14px] max-md:text-[15px] max-sm:mr-[10px] max-sm:ml-[10px]">edit</mat-icon>
                </a>
                <a routerLink="user">
                    <mat-icon  class="max-md:text-[15px]">settings</mat-icon>
                </a>
            </div>

        </div>

    </div>
</div>
<router-outlet></router-outlet>
