<div class="bg-blue-3 pt-[28px] pb-[71px] max-lg:py-[30px]" id="Customer">
    <div class="text-center">
        <div class="text-white-1 text-[44px] font-medium max-lg:text-[22px]">ลูกค้าของเรา</div>
        <div class="text-white-1 text-[30px]  max-lg:text-[16px] max-sm:text-[15px] font-light">our customer</div>
    </div>
    <div class=" pt-[28px] ">
        <owl-carousel-o [options]="customOptions" >
            <ng-template carouselSlide *ngFor="let data of allCustomer" >
                <div class="p-6 flex justify-center">
                    <div class="w-[177px] h-[177px] max-lg:w-[130px] max-lg:h-[130px]">
                        <img class="w-full h-full object-cover rounded-[33px] " src={{data.customerIcon}} alt="">
                    </div>
                </div>
            </ng-template>
          </owl-carousel-o>
    </div>
</div>