<div class="bg-blue-3 px-[70px]  py-12  max-lg:px-[16px]  max-lg:py-0">
  <div class="subject ">
    <h2 class="text-[36px] text-white font-medium  max-lg:text-[18px]">{{ heroes[0].title }}</h2>
  </div>
  <div class="grid grid-cols-2 pt-[28px] gap-x-11 h-1/2">
    <div class=" text-[20px]  font-light text-white  h-full  max-lg:text-[16px]">
      {{ heroes[0].descript }}
    </div>
    <div class="h-full">
      <owl-carousel-o [options]="customOptions" >
          <ng-template carouselSlide  >
              <div class="flex justify-center ">
                <img class="w-[532px] h-[298px] object-cover rounded-[20px]" [src]="heroes[0].img2" alt="">
              </div>
          </ng-template>  
         
        </owl-carousel-o>
  </div>
  </div>
  <div class="flex h-1/2">
    <div>
      <img class="w-[372px] h-[279px] object-cover rounded-[20px]" [src]="heroes[0].img2" alt="">
    </div>
    <div>
      <img class="w-[372px] h-[279px] object-cover rounded-[20px]" [src]="heroes[0].img2" alt="">
    </div>
    <div>
      <img class="w-[372px] h-[279px] object-cover rounded-[20px]" [src]="heroes[0].img2" alt="">
    </div>
  </div>
</div>

