/* Hide the default scrollbar */
::-webkit-scrollbar {
    display: inline-block;
    width: 10px;
  }

  /* Create a custom scrollbar track */
  ::-webkit-scrollbar-track {
    background-color: #F0F0F0;
    border-radius: 10px;
  }

  /* Create a custom scrollbar thumb */
  ::-webkit-scrollbar-thumb {
    background-color: #57B2D6;
    border-radius: 10px;
  }

  /* Show the scrollbar on hover */
  ::-webkit-scrollbar:hover {
    display: block;
  }

  /* Show the scrollbar thumb on hover */
  ::-webkit-scrollbar-thumb:hover {
    background-color: #57B2D6;
  }

  @media only screen and (max-width: 768px) {
    /* Hide the default scrollbar */
  ::-webkit-scrollbar {
    display: inline-block;
    width: 5px;
  }
  .imgs-ngx{
    width: 100%!important;
    max-width: unset!important;
  }
}

  .imgs-ngx{
    border-width: 2px;
    border-style: dashed;
    border-color: #B8C2CC; /* assuming grey-4 is a shade of gray */
    width: 27.552vw;
    height: 181px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.375rem; /* assuming rounded-md is equivalent to 0.375rem */
    max-width: 66.667%; /* assuming max-sm:w-2/3 means the element has a maximum width of 2/3 of the parent container when the parent's width is at most the "sm" breakpoint */

        /* the following applies at screen sizes equal or greater than md, but smaller than lg */
}
