<app-header-user></app-header-user>
<div class=" py-[40px] px-[103px] max-lg:px-[40px] max-sm:px-6 ">
    <div class="bg-white px-[46px] pt-[16px] pb-[50px] rounded-[20px] w-full shadow-[0_4px_4px_rgba(0,0,0,0.25)] max-sm:px-6">
        <div class="text-[26px] max-lg:text-[18px] max-sm:text-[14px]">
            OUR CUSTOMER
        </div>
        <form  #myForm="ngForm" (ngSubmit)="updateForm()">
          <!-- Form  -->
          <div *ngFor="let i of countOfCustomer">
            <app-customer-form  (updateCount)="addElement()" (deleteCustomer) = "deleteCustomer(idCustomerArray[i])" [allCustomer] = "allCustomer"  [idCustomer] = "idCustomerArray[i]"  [countOfCustomer] = "countOfCustomer.length" ></app-customer-form>
          </div>
            <!-- Button Back & Save -->
            <div class="pt-[25px] flex items-center space-x-[18px] pr-2 ">

              <button class="bg-white h-[50px] w-[166px]  text-blue-1 rounded-lg   border-[1px] border-blue-1 text-lg max-lg:h-[40px]" routerLink="../"><i class="ri-arrow-left-circle-line"></i>BACK</button>
              <button class="bg-blue-1 h-[50px] w-[166px]  rounded-lg text-white text-lg max-lg:h-[40px]" type="submit">SAVE</button>
            </div>
        </form>
    </div>
</div>