<app-header-user></app-header-user>
<div class=" py-[40px] px-[103px] max-lg:px-[40px] max-sm:px-6 ">
    <div class="bg-white px-[46px] pt-[16px] pb-[50px] rounded-[20px] w-full shadow-[0_4px_4px_rgba(0,0,0,0.25)] max-sm:px-6">
        <div class="text-[26px] max-lg:text-[18px] ">
            OUR STANDARD
        </div>
        <form class="" #myForm="ngForm" (ngSubmit)="updateForm()">
          <div class="overflow-y-scroll max-h-[100%]">
            <div class=" pt-[18px] mr-1">
                <label  class="text-[0.9vw] leading-6 text-grey-5  max-lg:text-[14px]">Title</label>
                <div class="pt-[8px]">
                    <input  name="title" type="text"  [(ngModel)]="heroes[0].title"
                    class="w-1/2 h-[51px] rounded-lg px-[20px] border-2 border-grey-4 max-lg:h-[40px] max-sm:w-full " >
                </div>
            </div>
              <!-- Description Input -->
            <div class=" pt-[18px] mr-1">
              <label  class="text-[16px] leading-6 text-grey-5 max-lg:text-[14px]">Description</label>
              <div class="pt-[8px] w-3/4 max-lg:w-[500px] max-sm:w-full">
                  <!-- Tool bar -->
                  <div class="border-[#707070] rounded-t-lg border-2 border-b-0 w-full h-[35px] flex flex-row items-center">


                    <!-- font style -->
                    <div class="flex h-full items-center border-r-2 p-2 min-w-[120px] border-[#707070] justify-center ">
                      <!-- label -->
                      <div>
                        <i class="fa-sharp fa-solid fa-bold mr-3 cursor-pointer" style="font-size: 1vw;" (click)="Bold()"></i>
                        <i class="fas fa-italic mr-3 cursor-pointer" style="font-size: 1vw;" (click)="Italic()"></i>
                        <i class="fa-solid fa-underline mr-3 cursor-pointer" style="font-size: 1vw;" (click)="Underline()"></i>
                        <i class="fa-solid fa-strikethrough cursor-pointer" style="font-size: 1vw;" (click)="Strike()"></i>
                      </div>
                    </div>

                  </div>
                  <!-- Text -->
                  <textarea  name="descript" type="text" #myTextarea
                  class="w-full h-[130px] rounded-b-lg px-[20px] border-2 border-[#707070] justify-center p-5" [(ngModel)]="heroes[0].descript"></textarea>
              </div>
          </div>
            <!-- Form 1 -->
            <div class=" pt-[18px] mr-1">
                <label  class="text-[0.9vw] leading-6 text-grey-5  max-lg:text-[14px]">1. Title (sub)</label>
                <div class="pt-[8px]">
                    <input  name="sub_title1" type="text"  [(ngModel)]="heroes[0].sub_title1"
                    class="w-1/2 h-[51px] rounded-lg px-[20px] border-2 border-grey-4 max-lg:h-[40px] max-sm:w-full">
                </div>
            </div>
            <div class=" pt-[18px] mr-1">
              <label  class="text-[0.9vw] leading-6 text-grey-5  max-lg:text-[14px]">Description (sub)</label>
              <div class="pt-[8px]">
                  <input  name="sub_descript1" type="text"  [(ngModel)]="heroes[0].sub_descript1"
                  class="w-2/3 h-[51px] rounded-lg px-[20px] border-2 border-grey-4 max-lg:h-[40px] max-sm:w-full">
              </div>
          </div>
            <!-- Drag and drop -->
            <div class="pt-[40px] pr-2">
              <div class="imgs-ngx" ngx-dropzone [accept]="'image/*'" (change)="onSelect($event,0)" [multiple]="false">
                <img [src] = "files[0]" class="h-full w-1/2 object-scale-down">
              </div>
            </div>
            <!-- Form 2 -->
            <div class=" pt-[18px] mr-1">
                <label  class="text-[0.9vw] leading-6 text-grey-5  max-lg:text-[14px]">2. Title (sub)</label>
                <div class="pt-[8px]">
                    <input  name="sub_title2" type="text"  [(ngModel)]="heroes[0].sub_title2"
                    class="w-1/2 h-[51px] rounded-lg px-[20px] border-2 border-grey-4 max-lg:h-[40px] max-sm:w-full">
                </div>
            </div>
            <div class=" pt-[18px] mr-1">
                <label  class="text-[0.9vw] leading-6 text-grey-5  max-lg:text-[14px]">Description (sub)</label>
                <div class="pt-[8px]">
                    <input  name="sub_descript2" type="text"  [(ngModel)]="heroes[0].sub_descript2"
                    class="w-2/3 h-[51px] rounded-lg px-[20px] border-2 border-grey-4 max-lg:h-[40px] max-sm:w-full">
                </div>
            </div>
            <!-- Drag and drop -->
            <div class="pt-[40px] pr-2">
              <div class="imgs-ngx" ngx-dropzone [accept]="'image/*'" (change)="onSelect($event,1)" [multiple]="false">
                <img [src] = "files[1]" class="h-full w-1/2 object-scale-down">
              </div>
            </div>
          <!-- Form 3 -->
          <div class=" pt-[18px] mr-1">
            <label  class="text-[0.9vw] leading-6 text-grey-5  max-lg:text-[14px]">3. Title (sub)</label>
            <div class="pt-[8px]">
                <input  name="sub_title3" type="text"  [(ngModel)]="heroes[0].sub_title3"
                class="w-1/2 h-[51px] rounded-lg px-[20px] border-2 border-grey-4 max-lg:h-[40px] max-sm:w-full">
            </div>
        </div>
        <div class=" pt-[18px] mr-1">
            <label  class="text-[0.9vw] leading-6 text-grey-5  max-lg:text-[14px]">Description (sub)</label>
            <div class="pt-[8px]">
                <input  name="sub_descript3" type="text"  [(ngModel)]="heroes[0].sub_descript3"
                class="w-2/3 h-[51px] rounded-lg px-[20px] border-2 border-grey-4 max-lg:h-[40px] max-sm:w-full">
            </div>
        </div>
        <!-- Drag and drop -->
        <div class="pt-[40px] pr-2">
          <div class="imgs-ngx" ngx-dropzone [accept]="'image/*'" (change)="onSelect($event,2)" [multiple]="false">
            <img [src] = "files[2]" class="h-full w-1/2 object-scale-down">
          </div>
        </div>
      <!-- Form 4 -->
      <div class=" pt-[18px] mr-1">
        <label  class="text-[0.9vw] leading-6 text-grey-5  max-lg:text-[14px]">4. Title (sub)</label>
        <div class="pt-[8px]">
            <input  name="sub_title4" type="text"  [(ngModel)]="heroes[0].sub_title4"
            class="w-1/2 h-[51px] rounded-lg px-[20px] border-2 border-grey-4 max-lg:h-[40px] max-sm:w-full">
        </div>
    </div>
    <div class=" pt-[18px] mr-1">
        <label  class="text-[0.9vw] leading-6 text-grey-5  max-lg:text-[14px]">Description (sub)</label>
        <div class="pt-[8px]">
            <input  name="sub_descript4" type="text"  [(ngModel)]="heroes[0].sub_descript4"
            class="w-2/3 h-[51px] rounded-lg px-[20px] border-2 border-grey-4 max-lg:h-[40px] max-sm:w-full">
        </div>
    </div>
    <!-- Drag and drop -->
    <div class="pt-[40px] pr-2">
      <div class="imgs-ngx" ngx-dropzone [accept]="'image/*'" (change)="onSelect($event,3)" [multiple]="false">
        <img [src] = "files[3]" class="h-full w-1/2 object-scale-down">
      </div>
    </div>
  </div>
            <!-- Button Back & Save -->
            <div class="pt-[25px] flex items-center space-x-[18px] pr-2 ">

              <button class="bg-white h-[50px] w-[166px]  text-blue-1 rounded-lg   border-[1px] border-blue-1 text-lg max-lg:h-[40px]" routerLink="../"><i class="ri-arrow-left-circle-line"></i>BACK</button>
              <button class="bg-blue-1 h-[50px] w-[166px]  rounded-lg text-white text-lg max-lg:h-[40px]" type="submit">SAVE</button>
          </div>
        </form>
    </div>
</div>
