<div class=" flex justify-center items-center space-x-[120px] pt-[124px] pl-[89px] pr-[84px]">
    <div 
        class="px-[41px] pt-[68px] pb-[60px] w-[505px] h-[521px] rounded-[20px]  shadow-[0_4px_4px_rgba(0,0,0,0.25)] ">
        <div class="">
            <h2 class=" text-3xl  font-medium">LOGIN</h2>
            <h4 class="text-base font-light">CONTENT MANAGEMENT SYSTEM .</h4>
        </div>
        
        
        <div class=" pt-[30px] ">
            <form class="" >
                <div>
                    <label  class="block text-sm font-medium leading-6 text-gray-900">User names</label>
                    <div class="pt-[9px]">
                        <input  name="username" type="text"  placeholder="Enter your user name" required 
                        class="block w-full h-[59px] rounded-md px-[20px] border-2 border-grey-1">
                    </div>
                </div>
                <div class="pt-[20px]">
                    <label for="password" class="block text-sm font-medium leading-6 text-gray-900">Password</label>
                    <div class="pt-[9px]">
                        <input id="password" name="password" type="password" autocomplete="current-password" required placeholder="Enter your Password" 
                        class="block w-full  h-[59px] rounded-md px-[20px] border-2 border-grey-1 ">
                    </div>
                </div>
        
                <div class="pt-[47px]">
                    <button type="submit" 
                    class="flex w-full h-[57px] justify-center items-center rounded-md bg-red-1 py-1.5 font-semibold leading-6 text-white-1 ">Sign in</button>
                </div>
            </form>
        </div>
    </div>
    <div>
        <img class="w-[514.28px] h-[445.29px]" src="https://res.klook.com/images/fl_lossy.progressive,q_65/c_fill,w_1200,h_630/w_80,x_15,y_15,g_south_west,l_Klook_water_br_trans_yhcmh3/activities/t9ur9cc1khkup1dmcbzd/%E0%B8%9A%E0%B8%B1%E0%B8%95%E0%B8%A3%E0%B9%80%E0%B8%82%E0%B9%89%E0%B8%B2%E0%B8%AA%E0%B8%A7%E0%B8%99%E0%B8%AA%E0%B8%99%E0%B8%B8%E0%B8%81%E0%B9%84%E0%B8%AD%E0%B9%80%E0%B8%AD%E0%B9%87%E0%B8%A1%E0%B8%88%E0%B8%B5%20%E0%B9%80%E0%B8%A7%E0%B8%B4%E0%B8%A5%E0%B8%94%E0%B9%8C%20%E0%B8%AD%E0%B8%AD%E0%B8%9F%20%E0%B9%81%E0%B8%AD%E0%B8%94%E0%B9%80%E0%B8%A7%E0%B8%99%E0%B9%80%E0%B8%88%E0%B8%AD%E0%B8%A3%E0%B9%8C%20(IMG%20Worlds%20of%20Adventure)%20%E0%B9%83%E0%B8%99%E0%B8%94%E0%B8%B9%E0%B9%84%E0%B8%9A.jpg" alt="">
    </div>
</div>

















