<div class=" flex justify-center items-center space-x-[120px] py-[124px] pl-[89px] pr-[84px] max-lg:flex-col max-lg:space-x-0 max-lg:space-y-5 max-lg:px-[40px] max-sm:px-6 max-lg:py-10">
    <div
        class="px-[41px] pt-[68px] pb-[60px] w-[505px] h-[521px] rounded-[20px]  shadow-[0_4px_4px_rgba(0,0,0,0.25)] max-lg:h-[350px] max-lg:py-[30px] max-lg:px-[20px] max-lg:w-full">
        <div class="">
            <h2 class=" text-[26px]  text-#0F3963 font-medium max-lg:text-[18px] ">LOGIN</h2>
            <h4 class="text-base font-light max-lg:text-[14px] ">CONTENT MANAGEMENT SYSTEM .</h4>
        </div>


        <div class=" pt-[35px] max-lg:pt-[20px]">
            <form class="" (ngSubmit)="loginUser()" [formGroup]="signinForm" >
                <div>
                    <label  class="block text-sm font-medium leading-6 text-black max-lg:text-[14px]">Username</label>
                    <div class="pt-[9px]">
                        <input  name="username" type="text"  placeholder="Enter your user name" required formControlName="username"
                        class="block w-full h-[59px] rounded-lg px-[20px] border-2 border-grey-1 text-[16px] max-lg:h-[40px] max-lg:text-[14px]">
                    </div>
                </div>
                <div class="pt-[20px]">
                    <label for="password" class="block text-sm font-medium leading-6 text-black  max-lg:text-[14px]">Password</label>
                    <div class="pt-[9px]">
                        <input id="password" name="password" type="password" autocomplete="current-password" required placeholder="Enter your Password" formControlName="password"
                        class="block w-full  h-[59px] rounded-lg px-[20px] border-2 text-[16px] border-grey-1 max-lg:h-[40px] max-lg:text-[14px]">
                    </div>
                </div>

                <div class="pt-[47px] max-lg:pt-5">
                    <button type="submit"
                    class="flex w-full h-[57px] justify-center items-center hover:bg-blue-3 rounded-lg bg-blue-1 py-1.5 font-semibold leading-6 text-white-1 max-lg:h-[40px] ">Sign in</button>
                </div>
            </form>
        </div>
    </div>
    <img class="w-[514.28px] h-[445.29px]  object-cover  max-lg:h-[200px] max-lg:w-full"  src="https://www.seiu1000.org/sites/main/files/main-images/camera_lense_0.jpeg" alt="">
</div>

















