<div class="bg-slate-300 min-h-[387px] flex flex-col">
  <div class="text-center mt-[50px]">
    <h2 class="text-red-1 text-[2.292vw] font-medium">Join 1000+ Happy Premium Users</h2>
  </div>
  <div class="flex flex-col md:flex-row justify-evenly items-center mt-[60px] mb-[70px]">
    <div class="md:w-[18vw] md:mr-[30px]">
      <p class="w-full md:w-[18vw] text-[20px] text-black-1">Lorem ipsum dolor sit amet, adhuc nulla definiebas mei ad, ei doming aperiam delicata est.</p>
      <div class="flex mt-[9px]">
        <img class="w-[40px] h-[40px]" src="https://cdn-icons-png.flaticon.com/512/3237/3237472.png" alt="">
        <div class="ml-[9px]">
          <h3 class="text-[14px] font-medium text-black-1">Savannah Miles</h3>
          <h4 class="text-[12px] font-light text-grey-3">brand manager</h4>
        </div>
      </div>
    </div>
    <div class="md:w-[18vw] md:mr-[30px] mt-[30px] md:mt-0">
      <p class="w-full md:w-[18vw] text-[20px] text-black-1">Lorem ipsum dolor sit amet, adhuc nulla definiebas mei ad, ei doming aperiam delicata est.</p>
      <div class="flex mt-[9px]">
        <img class="w-[40px] h-[40px]" src="https://cdn-icons-png.flaticon.com/512/3237/3237472.png" alt="">
        <div class="ml-[9px]">
          <h3 class="text-[14px] font-medium text-black-1">Savannah Miles</h3>
          <h4 class="text-[12px] font-light text-grey-3">brand manager</h4>
        </div>
      </div>
    </div>
    <div class="md:w-[18vw] mt-[30px] md:mt-0">
      <p class="w-full md:w-[18vw] text-[20px] text-black-1">Lorem ipsum dolor sit amet, adhuc nulla definiebas mei ad, ei doming aperiam delicata est.</p>
      <div class="flex mt-[9px]">
        <img class="w-[40px] h-[40px]" src="https://cdn-icons-png.flaticon.com/512/3237/3237472.png" alt="">
        <div class="ml-[9px]">
          <h3 class="text-[14px] font-medium text-black-1">Savannah Miles</h3>
          <h4 class="text-[12px] font-light text-grey-3">brand manager</h4>
        </div>
      </div>
    </div>
  </div>
</div>

