<div >
    <div class="pt-[18px] mr-1">
      <label class="text-[0.9vw] leading-6 text-grey-5 max-lg:text-[14px]">Title (sub)</label>
      <div class="pt-[8px] flex ">
        <input name="title" type="text" [(ngModel)]="data[0].title" class="w-1/2 h-[51px] rounded-lg px-[20px] border-2 border-grey-4 max-lg:h-[40px] max-sm:w-full">
          <button type="button" (click)="updateCountToParent()" class="ml-[10px] w-[51px] h-[51px] text-green-1 text-[21px] rounded-lg   border-[1px] border-green-1 max-lg:h-[40px] max-lg:text-[15px]" >
            <i class="ri-add-circle-line"></i></button>
          <button type="button" (click)="deleteCustomerToParent()" class="ml-[10px] w-[51px] h-[51px] text-red-900 text-[21px] rounded-lg   border-[1px] border-red-900 max-lg:h-[40px] max-lg:text-[15px]" >
            <i class="ri-close-circle-line"></i></button>
      </div>
    </div>
    <div class="pt-[18px] mr-1">
      <label class="text-[0.9vw] leading-6 text-grey-5 max-lg:text-[14px]">Description (sub)</label>
      <div class="pt-[8px]">
        <input name="description" type="text"  [(ngModel)]="data[0].description" class="w-2/3 h-[51px] rounded-lg px-[20px] border-2 border-grey-4 max-lg:h-[40px] max-sm:w-full">
      </div>
    </div>
     <!-- Drag and drop -->
    <div class="w-[260px] pt-[18px] justify-end flex px-1 max-lg:w-full max-lg:justify-center max-lg:pb-3 ">
      <div class="flex flex-col justify-center text-center w-[260px] h-[160px!important] items-center border-dashed border-2 border-grey-2 rounded-lg" ngx-dropzone [accept]="'image/*'" (change)="onSelect($event,0)" [multiple]="false" >
          <div class="absolute">
            <div class="text-blue-3">
              <i class=" fa-solid fa-arrow-up-from-bracket fa-2xl" ></i>
            </div>
            <div class="mt-1 text-[12px] text-black ">
              Drag & Drop
            </div>
          </div>
      <img [src] = "files[0]" class="h-full w-full object-contain">
      </div>
    </div>
  </div>