<app-header-user></app-header-user>
<div class=" py-[40px] px-[103px] overflow-y-hidden max-md:px-[40px] max-sm:px-6">
    <div class="bg-white px-[46px] pt-[16px] pb-[50px] rounded-[20px] w-full shadow-[0_4px_4px_rgba(0,0,0,0.25)] max-sm:px-6">
        <div class="text-[26px] max-md:text-[18px] max-sm:text-[14px]">
            ORGANIZATION GOALS
        </div>
        <form class="overflow-y-scroll max-h-[890px]" #myForm="ngForm" (ngSubmit)="updateForm()">
            <div class=" pt-[18px]">
                <label  class="text-[16px] leading-6 text-grey-5 max-md:text-[14px]">Title</label>
                <div class="pt-[8px]">
                    <input  name="title" type="text"  [(ngModel)]="heroes[0].title"
                    class="w-1/2 h-[51px] rounded-md px-[20px]  border-2 border-[#707070] max-md:h-[40px]">
                </div>
            </div>
            <!-- Description Input -->
            <div class=" pt-[18px]">
              <label  class="text-[16px] leading-6 text-grey-5 max-md:text-[14px]">Description</label>
              <div class="pt-[8px] w-3/4 max-md:w-[500px] max-sm:w-full">
                  <!-- Tool bar -->
                  <div class="border-[#707070] rounded-t-md border-2 border-b-0 w-full h-[35px] flex flex-row items-center">

                    <!-- undo -->
                    <!-- <div class="flex h-full items-center border-r-2 p-2 border-[#707070] justify-center max-sm:hidden"> -->
                      <!-- label -->
                      <!-- <div class="flex items-center">
                        <i class="fa-solid fa-arrow-left mr-1" style="font-size: 1vw;"></i>
                        <i class="fa-solid fa-arrow-left ml-1 fa-rotate-180" style="font-size: 1vw;"></i>
                      </div>
                    </div> -->
                    <!-- font SM -->

                    <!-- font style -->
                    <div class="flex h-full items-center border-r-2 p-2 min-w-[120px] border-[#707070] justify-center max-sm:hidden">
                      <!-- label -->
                      <div>
                        <i class="fa-sharp fa-solid fa-bold mr-3 cursor-pointer" style="font-size: 1vw;" (click)="Bold()"></i>
                        <i class="fas fa-italic mr-3 cursor-pointer" style="font-size: 1vw;" (click)="Italic()"></i>
                        <i class="fa-solid fa-underline mr-3 cursor-pointer" style="font-size: 1vw;" (click)="Underline()"></i>
                        <i class="fa-solid fa-strikethrough cursor-pointer" style="font-size: 1vw;" (click)="Strike()"></i>
                      </div>
                    </div>

                  </div>
                  <!-- Text -->
                  <textarea  name="descript" type="text" #myTextarea
                  class="w-full h-[130px] rounded-b-md px-[20px] border-2 border-[#707070] justify-center p-5" [(ngModel)]="heroes[0].descript"></textarea>
              </div>
          </div>
            <div class=" pt-[18px]">
                <label  class="text-[16px] leading-6 text-grey-5 max-md:text-[14px]">1. Title (sub)</label>
                <div class="pt-[8px]">
                    <input  name="username" type="text"  [(ngModel)]="heroes[0].sub_title1"
                    class="w-1/2 h-[51px] rounded-md px-[20px]  border-2 border-[#707070] max-md:h-[40px]">
                </div>
            </div>
            <div class=" pt-[18px]">
                <label  class="text-[16px] leading-6 text-grey-5 max-md:text-[14px]">Description (sub)</label>
                <div class="pt-[8px]">
                    <input  name="username" type="text"  [(ngModel)]="heroes[0].sub_descript1"
                    class="w-2/3 h-[51px] rounded-md px-[20px]  border-2 border-[#707070] max-md:h-[40px]">
                </div>
            </div>
            <div class=" pt-[18px]">
                <label  class="text-[16px] leading-6 text-grey-5 max-md:text-[14px]">2. Title (sub)</label>
                <div class="pt-[8px]">
                    <input  name="username" type="text"  [(ngModel)]="heroes[0].sub_title2"
                    class="w-1/2 h-[51px] rounded-md px-[20px]  border-2 border-[#707070] max-md:h-[40px]">
                </div>
            </div>
            <div class=" pt-[18px]">
                <label  class="text-[16px] leading-6 text-grey-5 max-md:text-[14px]">Description (sub)</label>
                <div class="pt-[8px]">
                    <input  name="username" type="text"  [(ngModel)]="heroes[0].sub_descript2"
                    class="w-2/3 h-[51px] rounded-md px-[20px]  border-2 border-[#707070] max-md:h-[40px]">
                </div>
            </div>
            <div class=" pt-[18px]">
                <label  class="text-[16px] leading-6 text-grey-5 max-md:text-[14px]">3. Title (sub)</label>
                <div class="pt-[8px]">
                    <input  name="username" type="text"  [(ngModel)]="heroes[0].sub_title3"
                    class="w-1/2 h-[51px] rounded-md px-[20px]  border-2 border-[#707070] max-md:h-[40px]">
                </div>
            </div>
            <div class=" pt-[18px]">
                <label  class="text-[16px] leading-6 text-grey-5 max-md:text-[14px]">Description (sub)</label>
                <div class="pt-[8px]">
                    <input  name="username" type="text"  [(ngModel)]="heroes[0].sub_descript3"
                    class="w-2/3 h-[51px] rounded-md px-[20px]  border-2 border-[#707070] max-md:h-[40px]">
                </div>
            </div>
            <div class=" pt-[18px]">
              <label  class="text-[16px] leading-6 text-grey-5 max-md:text-[14px]">4. Title (sub)</label>
              <div class="pt-[8px]">
                  <input  name="username" type="text"  [(ngModel)]="heroes[0].sub_title4"
                  class="w-1/2 h-[51px] rounded-md px-[20px]  border-2 border-[#707070] max-md:h-[40px]">
              </div>
          </div>
          <div class=" pt-[18px]">
              <label  class="text-[16px] leading-6 text-grey-5 max-md:text-[14px]">Description (sub)</label>
              <div class="pt-[8px]">
                  <input  name="username" type="text"  [(ngModel)]="heroes[0].sub_descript4"
                  class="w-2/3 h-[51px] rounded-md px-[20px]  border-2 border-[#707070] max-md:h-[40px]">
              </div>
          </div>
          <div class=" pt-[18px]">
            <label  class="text-[16px] leading-6 text-grey-5 max-md:text-[14px]">5. Title (sub)</label>
            <div class="pt-[8px]">
                <input  name="username" type="text"  [(ngModel)]="heroes[0].sub_title5"
                class="w-1/2 h-[51px] rounded-md px-[20px]  border-2 border-[#707070] max-md:h-[40px]">
            </div>
        </div>
        <div class=" pt-[18px]">
            <label  class="text-[16px] leading-6 text-grey-5 max-md:text-[14px]">Description (sub)</label>
            <div class="pt-[8px]">
                <input  name="username" type="text"  [(ngModel)]="heroes[0].sub_descript5"
                class="w-2/3 h-[51px] rounded-md px-[20px]  border-2 border-[#707070] max-md:h-[40px]">
            </div>
        </div>
        <div class=" pt-[18px]">
          <label  class="text-[16px] leading-6 text-grey-5 max-md:text-[14px]">6. Title (sub)</label>
          <div class="pt-[8px]">
              <input  name="username" type="text"  [(ngModel)]="heroes[0].sub_title6"
              class="w-1/2 h-[51px] rounded-md px-[20px]  border-2 border-[#707070] max-md:h-[40px]">
          </div>
      </div>
      <div class=" pt-[18px]">
          <label  class="text-[16px] leading-6 text-grey-5 max-md:text-[14px]">Description (sub)</label>
          <div class="pt-[8px]">
              <input  name="username" type="text"  [(ngModel)]="heroes[0].sub_descript6"
              class="w-2/3 h-[51px] rounded-md px-[20px]  border-2 border-[#707070] max-md:h-[40px]">
          </div>
      </div>
          <!-- Drag and drop -->
            <div class="pt-[40px] pr-2">
              <div class="imgs-ngx" ngx-dropzone [accept]="'image/*'" (change)="onSelect($event,3)" [multiple]="false">
                <!-- <ngx-dropzone-label>
                  <div>
                    <i class="fa-solid fa-arrow-up-from-bracket fa-2xl" style="color: #a61f23;"></i>
                  </div>
                  <div class="mt-1">
                    Drag & Drop
                  </div>
                </ngx-dropzone-label>
                <div *ngFor="let f of showPrev">
                  <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" [file]="f" [removable]="true" (removed)="onRemove(f,3)" *ngIf="f == showPrev[3]">
                    <ngx-dropzone-label >{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                  </ngx-dropzone-image-preview>
                </div> -->
                <img [src] = "files[0]" class="h-full w-1/2 object-cover">
              </div>
            </div>
            <!-- Button Back & Save -->
            <div class="pt-[25px] flex items-center space-x-[18px] pr-2">

              <button class="bg-white h-[50px] w-[166px]  text-red-1 rounded-md  border-2 border-red-1 text-lg max-md:h-[40px]" routerLink="../"><i class="ri-arrow-left-circle-line"></i>BACK</button>
              <button class="bg-red-1 h-[50px] w-[166px]  rounded-md text-white text-lg max-md:h-[40px]">SAVE</button>
          </div>
        </form>
    </div>
</div>
