<app-header-user></app-header-user>
<div class="flex flex-wrap flex-row w-full items-center justify-center">
  <!-- Card  -->
  <div class="flex flex-col w-1/4 p-6 rounded-2xl bg-slate-600 m-[3px] items-center"  *ngFor="let i of videos">
    <!-- images -->
    <div class="w-full object-cover">
      <video width="800" height="600" controls>
        <source [src]="'http://localhost:5000/videos/' + i.video" type="video/mp4">
      </video>
    </div>
    <!-- button -->
    <div class="mt-[14px]">
      <button class="bg-red-400 h-[50px] w-[166px]  rounded-lg text-white text-lg max-lg:h-[40px]" (click)="deleted(i.id)">DELETE</button>
    </div>
  </div>
</div>
<div class="w-full flex justify-center mt-[20px] pb-5">
  <button class="bg-white h-[50px] w-[166px]  text-blue-1 rounded-lg  border-2 border-blue-1 text-lg max-lg:h-[40px]" routerLink="../"><i class="ri-arrow-left-circle-line"></i>BACK</button>
</div>
