<div class="flex flex-col justify-center pt-[43px] max-lg:pt-[30px]">
  <div class="text-center ">
    <h2 class="text-black-1 text-[44px] font-medium max-lg:text-[22px]">มาตราฐานของเรา</h2>
    <h4 class="text-blue-3 text-[30px]  max-lg:text-[16px] max-sm:text-[15px] font-light">our standard</h4>
  </div>

  <div class=" mb-16 pt-[26px]">
    <owl-carousel-o [options]="customOptions" >
      <ng-template carouselSlide  >
        <div class="w-full  p-4 text-center flex flex-col justify-center h-full">
          <div class="w-full h-[160px] flex  justify-center items-center">
          <img class="w-full h-full lg:w-full lg:h-full mb-2 object-scale-down" [src]="heroes[0].img1" alt="">
          </div>
          <div class="items-end">
            <h2 class="text-[32px] lg:text-2xl text-black-1">{{ heroes[0].sub_title1 }}</h2>
            <h5 class="text-[16px] lg:text-lg text-grey-1">{{ heroes[0].sub_descript1 }}</h5>
          </div>
        </div>
      </ng-template>  
      <ng-template carouselSlide  >
        <div class="w-full  p-4 text-center flex flex-col justify-center h-full">
          <div class="w-full h-[160px] flex  justify-center items-center">
          <img class="w-full h-full lg:w-full lg:h-full mb-2 object-scale-down" [src]="heroes[0].img2" alt="">
          </div>
          <div class="items-end">
            <h2 class="text-[32px] lg:text-2xl text-black-1">{{ heroes[0].sub_title2 }}</h2>
            <h5 class="text-[16px] lg:text-lg text-grey-1">{{ heroes[0].sub_descript2 }}</h5>
          </div>
        </div>
      </ng-template>  
      <ng-template carouselSlide  >
        <div class="w-full  p-4 text-center flex flex-col justify-center h-full">
          <div class="w-full h-[160px] flex  justify-center items-center">
          <img class="w-full h-full lg:w-full lg:h-full mb-2 object-scale-down" [src]="heroes[0].img3" alt="">
          </div>
          <div class="items-end">
            <h2 class="text-[32px] lg:text-2xl text-black-1">{{ heroes[0].sub_title3 }}</h2>
            <h5 class="text-[16px] lg:text-lg text-grey-1">{{ heroes[0].sub_descript3 }}</h5>
          </div>
        </div>
      </ng-template>  
      <ng-template carouselSlide  >
        <div class="w-full  p-4 text-center flex flex-col justify-center h-full">
          <div class="w-full h-[160px] flex justify-center items-center">
          <img class="w-full h-full lg:w-full lg:h-full mb-2 object-scale-down" [src]="heroes[0].img4" alt="">
          </div>
          <div class="items-end">
            <h2 class="text-[32px] lg:text-2xl text-black-1">{{ heroes[0].sub_title4 }}</h2>
            <h5 class="text-[16px] lg:text-lg text-grey-1">{{ heroes[0].sub_descript4 }}</h5>
          </div>
        </div>
      </ng-template>  
    </owl-carousel-o>
    

    

   

    

  </div>
</div>

