<div class="pt-[50px] pb-[65px]">
    <div class="text-center ">
        <h2 class="text-black-1 text-[44px]">มาตราฐานของเรา</h2>
        <h4 class="text-red-1 text-[30px] font-light">our standard</h4>
    </div>
    
    <div  class="flex justify-center text-center  pt-[26px]">
        <div class="">
            <img class="w-[126px] h-[122px] mx-auto " src="http://www.justinmaller.com/img/projects/thumbnail/THUMB__zpki.jpg" alt="">
            <div>
                <h2 class="text-[32px] text-black-1">ISO9001</h2>
                <h5 class="text-[16px] text-grey-3  px-[85px]  ">ระบบมาตรฐานการบริหารงานคุณภาพ</h5>
            </div>
        </div>
        <div class="">
            <img class="w-[126px] h-[122px] mx-auto " src="http://www.justinmaller.com/img/projects/thumbnail/THUMB__zpki.jpg" alt="">
            <div class="">
                <h2 class="text-[32px] text-black-1">ISO14001</h2>
                <h5 class="text-[16px] text-grey-3  px-[85px] ">ระบบมาตรฐานการจัดการสิ่งแวดล้อม</h5>
            </div>
        </div>
        <div class="">
            <img class="w-[126px] h-[122px] mx-auto  " src="http://www.justinmaller.com/img/projects/thumbnail/THUMB__zpki.jpg" alt="">
            <div>
                <h2 class="text-[32px] text-black-1">OHSAS18001:(ISO45001)</h2>
                <h5 class="text-[16px] text-grey-3  px-[85px] ">ระบบมาตรฐานการจัดการ อาชีวอนามัย และความปลอดภัย</h5>
            </div>
        </div>
        <div class="">
            <img class="w-[126px] h-[122px] mx-auto" src="http://www.justinmaller.com/img/projects/thumbnail/THUMB__zpki.jpg" alt="">
            <div>
                <h2 class="text-[32px] text-black-1">THAI SME-GP</h2>
                <h5 class="text-[16px] text-grey-3 px-[85px] ">หนังสือรับรองการขึ้นทะเบียนผู้ประกอบการ SME เพื่อการจัดซื้อจัดจ้างภาครัฐ</h5>
            </div>
        </div>
    </div>
</div>
