<div>
    <div class="text-center  mt-[50px] mb-[26px]">
        <h2 class="text-black-1 text-[44px]">มาตราฐานของเรา</h2>
        <h4 class="text-red-1 text-[30px] font-light">our standard</h4>
    </div>
    
    <div  class="flex justify-center items-Stretch text-center mb-[65px]">
        <div class="ml-[82px]">
            <img class="w-[126px] h-[122px] mx-auto " src="http://www.justinmaller.com/img/projects/thumbnail/THUMB__zpki.jpg" alt="">
            <div>
                <h2 class="text-[32px] text-black-1">ISO9001</h2>
                <h5 class="text-[16px] text-grey-3 w-[286px]">ระบบมาตรฐานการบริหารงานคุณภาพ</h5>
            </div>
        </div>
        <div class="ml-[82px]">
            <img class="w-[126px] h-[122px] mx-auto " src="http://www.justinmaller.com/img/projects/thumbnail/THUMB__zpki.jpg" alt="">
            <div>
                <h2 class="text-[32px] text-black-1">ISO14001</h2>
                <h5 class="text-[16px] text-grey-3 w-[286px]">ระบบมาตรฐานการจัดการสิ่งแวดล้อม</h5>
            </div>
        </div>
        <div class="ml-[82px]">
            <img class="w-[126px] h-[122px] mx-auto  " src="http://www.justinmaller.com/img/projects/thumbnail/THUMB__zpki.jpg" alt="">
            <div>
                <h2 class="text-[32px] text-black-1">OHSAS18001:(ISO45001)</h2>
                <h5 class="text-[16px] text-grey-3 w-[286px]">ระบบมาตรฐานการจัดการ อาชีวอนามัย และความปลอดภัย</h5>
            </div>
        </div>
        <div class="ml-[82px]">
            <img class="w-[126px] h-[122px] mx-auto" src="http://www.justinmaller.com/img/projects/thumbnail/THUMB__zpki.jpg" alt="">
            <div>
                <h2 class="text-[32px] text-black-1">THAI SME-GP</h2>
                <h5 class="text-[16px] text-grey-3 w-[286px]">หนังสือรับรองการขึ้นทะเบียนผู้ประกอบการ SME เพื่อการจัดซื้อจัดจ้างภาครัฐ</h5>
            </div>
        </div>
    </div>
</div>
