<div id="BG" class="flex flex-col min-h-[890px] bg-gray-100 font-Anuphan pb-7">
    <div id="HeadSec" class="flex flex-col items-center justify-center mt-[50px] ">
      <div id="Tite_Head" class="text-4xl text-gray-800">เป้าหมายขององค์กร</div>
      <div id="Sub_Head" class="text-2xl text-red-1">ปกป้องคุณอยู่ตลอดเวลารวมถึง ณ เวลานี้</div>
      <div id="Des_Head" class="text-[1.2vw] text-red-1">มุ่งสู่ความเป็นบริษัทชั้นนำด้านงานบริการ</div>
    </div>

    <div id="ContentSec" class="flex justify-center content-center h-full w-full flex-row">
        <div id = "L_Content" class="w-1/3 flex flex-col items-center">

          <div id ="Msg_box" class="flex flex-col w-[17vw] h-[10vw] ml-28 mt-[72px] font-serif">
              <div id = "Title_box" class="flex"><div class="w-1 h-8 rounded-full bg-red-700 mr-1"></div><div id = "Msg_title" class="text-[1.2vw] font-bold text-gray-800">เทคโนโลยีสนับสนุนการทำงาน</div></div>
              <div id="Msg_description" class=" text-gray-500 ml-2 text-[0.833vw]">เราไม่หยุดนิ่งที่จะนำเทคโนโลยีที่ทันสมัย เข้ามาผสมผสานกับการทำงานอย่างต่อเนื่อง เพื่อยกระดับให้เป็นบริษัทรักษาความปลอดภัยชั้นนำ</div>
          </div>

          <div id ="Msg_box" class="flex flex-col w-[17vw] h-[10vw] ml-0 mt-[72px] font-serif ">
            <div id = "Title_box" class="flex"><div class="w-1 h-8 rounded-full bg-red-700 mr-1"></div><div id = "Msg_title" class="text-[1.2vw] font-bold text-gray-800">กำลังพลสำรองทดแทน</div></div>
            <div id="Msg_description" class=" text-gray-500 ml-2 text-[0.833vw]">พนักงานขาดจุดถือว่าเป็นปัญหาใหญ่ของงานซึ่งจะส่งผลให้สถานที่มีปัญหาด้านความปลอดภัย ด้านคุณภาพ และการให้บริการเราจึงจัดกำลังพลสำรองเพียงพอ
                เพื่อทดแทนการลาฉุกเฉิน</div>
          </div>

          <div id ="Msg_box" class="flex flex-col w-[17vw] h-[10vw] ml-28 mt-[72px] font-serif">
            <div id = "Title_box" class="flex"><div class="w-1 h-8 rounded-full bg-red-700 mr-1"></div><div id = "Msg_title" class="text-[1.2vw] font-bold text-gray-800">การฝึกอบรม</div></div>
            <div id="Msg_description" class=" text-gray-500 ml-2 text-[0.833vw]">ให้ความสำคัญเกี่ยวกับการฝึกอบรมโดยพนักงานทุกคนต้องได้รับการฝึกอบรมก่อนลงงานและส่งทีมครูฝึกเข้าฝึกอบรมที่หน่วย งานอย่างต่อเนื่อง เพื่อเป็นการทบทวน และเพิ่มทักษะในการทำงาน</div>
          </div>

        </div>

      <div id="M_content" class=" mt-[65px] flex items-center">
          <img class="w-[546px] h-[544px]" src="http://www.justinmaller.com/img/projects/thumbnail/THUMB__zpki.jpg">
      </div>

      <div id = "R_Content" class="w-1/3 flex flex-col items-center">

          <div id ="Msg_box" class="flex flex-col w-[17vw] h-[10vw] ml-0 mt-[72px] font-serif">
            <div id = "Title_box" class="flex"><div class="w-1 h-8 rounded-full bg-red-700 mr-1"></div><div id = "Msg_title" class="text-[1.2vw] font-bold text-gray-800">ให้บริการระดับสากล</div></div>
            <div id="Msg_description" class=" text-gray-500 ml-2 text-[0.833vw]">สร้างความเป็นเอกลักษณ์ของพนักงานด้วยการปลูกฝังแนวคิด ในการใส่ใจการบริการ</div>
          </div>

          <div id ="Msg_box" class="flex flex-col w-[17vw] h-[10vw] ml-24 mt-[72px] font-serif">
            <div id = "Title_box" class="flex"><div class="w-1 h-8 rounded-full bg-red-700 mr-1"></div><div id = "Msg_title" class="text-[1.2vw] font-bold text-gray-800">ยกระดับความพึงพอใจในการใช้บริการ</div></div>
            <div id="Msg_description" class=" text-gray-500 ml-2 text-[0.833vw]">ให้บริการด้วยความเต็มใจ และ ลดปัญหาในการให้บริการให้น้อยที่สุด</div>
          </div>

          <div id ="Msg_box" class="flex flex-col w-[17vw] h-[10vw] ml-0 mt-[72px] font-serif">
            <div id = "Title_box" class="flex"><div class="w-1 h-8 rounded-full bg-red-700 mr-1"></div><div id = "Msg_title" class="text-[1.2vw] font-bold text-gray-800">บุคลากรที่มีคุณภาพ</div></div>
            <div id="Msg_description" class=" text-gray-500 ml-2 text-[0.833vw]">สร้างความเป็นเอกลักษณ์ของพนักงานรักษาความปลอดภัยด้วยการปลูกฝังแนวคิด ให้เกิดความ “มีวินัย ซื่อตรง ใส่ใจบริการ”</div>
          </div>

      </div>
    </div>
  </div>
