<div id="BG" class="flex flex-col min-h-[790px] bg-[#FAF9F7] pt-[43px]   max-md:pt-6 max-sm:pt-[18px] max-sm:pb-[30px] ">
    <div id="HeadSec" class="flex flex-col items-center justify-center ">
      <div id="Tite_Head" class="text-[40px] text-black-1 font-medium  max-md:text-[22px]">{{ heroes[0].title }}</div>
      <div id="Sub_Head" class="text-[30px] text-blue-3 md:font-medium  max-md:text-[20px] max-sm:text-[13px] max-sm:font-normal">{{ heroes[0].descript }}</div>
      <div id="Des_Head" class="text-[20px] text-blue-3  max-md:text-[16px] font-light max-sm:text-[13px]">มุ่งสู่ความเป็นบริษัทชั้นนำด้านงานบริการ</div>
    </div>

    <div id="ContentSec" class="flex justify-center content-center h-full w-full max-sm:flex-col  max-sm:px-5 max-sm:bg-local" >
        <div id = "L_Content" class="w-1/3 flex flex-col items-center max-sm:w-full ">

          <div id ="Msg_box" class="flex flex-col w-[17vw]  ml-28 mt-[72px]  max-sm:w-full max-sm:ml-0 ">
            <div id = "Title_box" class="flex">
                <div class="w-1 h-[40px] rounded-full bg-blue-1  mr-[14px] "></div>
                <div id = "Msg_title" class="text-[20px] text-blue-2 font-medium">{{ heroes[0].sub_title1 }}</div>
            </div>
              <div id="Msg_description" class="text-gray-1 ml-[22px] text-[16px] font-light ">{{ heroes[0].sub_descript1 }}</div>
          </div>

          <div id ="Msg_box" class="flex flex-col w-[17vw]  ml-0 mt-[72px]  max-sm:w-full max-sm:ml-0">
            <div id = "Title_box" class="flex">
              <div class="w-1 h-[40px] rounded-full bg-blue-1  mr-[14px] "></div>
            <div id = "Msg_title" class="text-[20px] text-blue-2 font-medium">{{ heroes[0].sub_title2 }}</div>
          </div>
            <div id="Msg_description" class="text-gray-1 ml-[22px] text-[16px] font-light">{{ heroes[0].sub_descript2 }}</div>
          </div>

          <div id ="Msg_box" class="flex flex-col w-[17vw]  ml-28 mt-[72px] max-sm:w-full max-sm:ml-0" >
            <div id = "Title_box" class="flex">
              <div class="w-1 h-[40px] rounded-full bg-blue-1  mr-[14px] "></div>
            <div id = "Msg_title" class="text-[20px] text-blue-2 font-medium">{{ heroes[0].sub_title3 }}</div>
          </div>
            <div id="Msg_description" class=" text-gray-1 ml-[22px] text-[16px] font-light">{{ heroes[0].sub_descript3 }}</div>
          </div>

        </div>

      <div id="M_content" class=" mt-[65px] flex items-center max-sm:hidden">
          <img class="w-[100%] h-[100%] px-5 " [src]="heroes[0].img">
      </div>

      <div id = "R_Content" class="w-1/3 flex flex-col items-center  max-sm:w-full">

          <div id ="Msg_box" class="flex flex-col w-[17vw]  ml-0 mt-[72px] max-sm:w-full max-sm:ml-0" >
            <div id = "Title_box" class="flex">
              <div class="w-1 h-[40px] rounded-full bg-blue-1 mr-[14px]"></div>
            <div id = "Msg_title" class="text-[20px] text-blue-2 font-medium">{{ heroes[0].sub_title4 }}</div>
          </div>
            <div id="Msg_description" class="text-gray-1 ml-[22px] text-[16px] font-light">{{ heroes[0].sub_descript4 }}</div>
          </div>

          <div id ="Msg_box" class="flex flex-col w-[17vw]  ml-24 mt-[72px] max-sm:w-full max-sm:ml-0" >
            <div id = "Title_box" class="flex">
              <div class="w-1 h-[40px] rounded-full bg-blue-1 mr-[14px]"></div>
            <div id = "Msg_title" class="text-[20px] text-blue-2 font-medium">{{ heroes[0].sub_title5 }}</div>
          </div>
            <div id="Msg_description" class="text-gray-1 ml-[22px] text-[16px] font-light">{{ heroes[0].sub_descript5 }}</div>
          </div>

          <div id ="Msg_box" class="flex flex-col w-[17vw]  ml-0 mt-[72px] max-sm:w-full max-sm:ml-0" >
            <div id = "Title_box" class="flex">
              <div class="w-1 h-[40px] rounded-full bg-blue-1 mr-[14px]"></div>
            <div id = "Msg_title" class="text-[20px] text-blue-2 font-medium">{{ heroes[0].sub_title6 }}</div>
          </div>
            <div id="Msg_description" class="text-gray-1 ml-[22px] text-[16px] font-light">{{ heroes[0].sub_descript6 }}</div>
          </div>

      </div>
    </div>
  </div>
